* {
  background: rgb(17, 17, 17);
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  padding: 1rem;
  background: rgb(26, 26, 26);
}
#header a {
  color: #fff;
  text-decoration: none;
}
#header a:hover {
  color: tomato;
}
.btn-header {
  border: none !important;
  background: rgb(170, 0, 0) !important;
  color: white !important;
}
.btn-header:hover {
  background: rgb(204, 31, 0) !important;
}
.wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 6%;
}

.wrapper-2 img {
  width: 50%;
  height: 450px;
  margin-left: 20%;
}

.wrapper-2 button {
  text-align: center;
  border: none;
  background: red;
  width: 50%;
  margin: 1rem 0 1rem 20%;
}

.subWrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wrapper-2 p {
  border: 1px solid white;
}
